# Editor files
*swp
*swo
.DS_Store

# ROS bag files are too big
*.bag
# Log files are too big, fetch them from Dropbox.
logfiles/
*.log

# Tensorboard logs
runs/

# Default saved model
saved_model.pth
# Baseline model, ~500mb, fetch with wget to keep git history small
FrankNet.h5

# Development stuff
__pycache__
